
<div class="col s12 m12 l6" data-toggle="validator">
    <div class="card-panel">
        <div class="row" >                           
            <div class="input-field col-sm-12 col-lg-6">
                <input placeholder="Nome Completo" id="txtNome" name="txtNome" type="text" autofocus required>
                <label for="txtNome">Nome Completo (*)</label>
            </div>

            <div class="input-field col-sm-12 col-lg-6">
                <input placeholder="Apelido" id="txtApelido" name="txtApelido" type="text" required>
                <label for="txtApelido">Como gostaria de ser chamado? (*)</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col-sm-12 col-lg-3">
                <input placeholder="(00) 00000 0000" id="txtCelular" name="txtCelular" type="text" required>
                <label for="txtCelular">Celular (*)</label>
            </div>

            <div class="input-field col-sm-12 col-lg-6">
                <input placeholder="email@dominio.com.br" id="txtEmail" name="txtEmail" type="email" required>
                <label for="txtEmail">E-mail (*)</label>
            </div>

            <div class="input-field col-sm-12 col-lg-3">
                <input placeholder="10/01/1980" id="txtDataNascimento" name="txtDataNascimento" type="date" required>
                <label for="txtDataNascimento"  class="active">Data de Nascimento (*)</label>
            </div>  
        </div>

        <div class="row">
            <div class="input-field col-sm-12 col-lg-3">
                <input placeholder="000.000.000-00" id="txtCPF" name="txtCPF" type="text" required>
                <label for="txtCPF">CPF (*)</label>
            </div>

            <div class="input-field col-sm-12 col-lg-3">
                <input placeholder="" id="txtSenha" name="txtSenha" type="password" required>
                <label for="txtSenha">Senha (*)</label>
            </div>
        </div>

        <!--<fieldset>    
            <legend>Informe seu endereço</legend> -->
            <div class="divider"></div>
            <Br>
        <div class="row">
                <div class="input-field col-md-2 col-sm-12 col-lg-2">
                    <input placeholder="00.000-000" id="txtCEP" name="txtCEP" type="text" required>
                    <label for="txtCEP">CEP (*) </label>
                    
                </div>

                <div class="input-field col-md-3 col-sm-12 col-lg-6">
                    <input placeholder="" id="txtLogradouro" name="txtLogradouro" type="text" required>
                    <label for="txtLogradouro">Logradouro (*)</label>
                </div>

                <div class="input-field col-md-3 col-sm-12 col-lg-1">
                    <input placeholder="" id="txtNumero" name="txtNumero" type="text" required> 
                    <label for="txtNumero">Número (*)</label>
                </div>

                <div class="input-field col-md-3 col-sm-12 col-lg-3">
                    <input placeholder="" id="txtComplemento" name="txtComplemento" type="text">
                    <label for="txtComplemento">Complemento</label>
                </div>
        </div>

        <div class="row">
                <div class="input-field col-md-3 col-sm-12 col-lg-4">
                    <input placeholder="Bairro de teste" id="txtBairro" name="txtBairro" type="text" required>
                    <label for="txtBairro">Bairro (*)</label>
                </div>

                <div class="input-field col-md-3 col-sm-12 col-lg-4">
                    <input placeholder="" id="txtCidade" name="txtCidade" type="text" required>
                    <label for="txtCidade">Cidade (*)</label>
                </div>
            
                <div id="input-select" class="input-field col-md-3 col-sm-12 col-lg-4">
                
                    <select name="cboUF" id="cboUF" required> 
                            <option value="">Estado</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espirito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                    </select>
                </div>

            
        </div>

        <!--
            </fieldset>
        -->

    </div>

</div>