<div class="col-lg-12">
    <div class="card-panel">
        <div class="row">
            <div class="col-lg-6">
                   
                    <div class="row">
                            <div class="input-field col-sm-12 col-lg-12">
                                <i class="mdi-social-person-outline prefix"></i>
                                <input placeholder="Ex.: João Silva" id="txtCartaoTitular" name="txtCartaoTitular" type="text">
                                <label for="txtCartaoTitular">Titular do cartão</label>
                            </div>
                    </div>
                    
                    <div class="row">
                            <div class="input-field col-sm-12 col-lg-12">
                                <i class="mdi-action-credit-card prefix"></i>
                                <input placeholder="1234-5678-9012-3456" id="txtCartaoNumero" name="txtCartaoNumero" type="text">
                                <label for="txtCartaoNumero">Número do cartão</label>
                            </div>
                    </div>

                    <div class="row">
                            <div class="input-field col-sm-12 col-lg-5">
                                <i class="mdi-action-event prefix"></i>
                                <input placeholder="01/2020" id="txtCartaoDataExpiracao" name="txtCartaoDataExpiracao" type="text">
                                <label for="txtCartaoDataExpiracao">Data expiração</label>
                            </div>

                            <div class="input-field col-sm-12 col-lg-4">
                                <input placeholder="2020" id="txtCartaoCVV" name="txtCartaoCVV" type="text">
                                <label for="txtCartaoCVV">CVV</label>
                            </div>
                    </div>

            </div>

            <div class="col-lg-1">
                asdasd
            </div>
        </div>
    </div>
</div>