  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Sr Mustache | Members Club">
  <meta name="keywords" content="Sr Mustache | Members Club">
  
  <title>Sr Mustache | {{ titulo }}</title>

  <link rel="icon" href="{{ base_url() }}/files/images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="apple-touch-icon-precomposed" href="{{ base_url() }}/files/images/favicon/apple-touch-icon-152x152.png">

  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="{{ base_url() }}/files/images/favicon/mstile-144x144.png">

  <link href="{{ base_url() }}/files/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{{ base_url() }}/files/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"> 
  <link href="{{ base_url() }}/files/css/custom/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{{ base_url() }}/files/js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{{ base_url() }}/files/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">

  <!--
  <link href="{{ base_url() }}/files/js/plugins/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{{ base_url() }}/files/js/plugins/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet" media="screen,projection">
-->
<!--
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
-->