
<script type="text/javascript" src="{{ base_url() }}/files/js/plugins/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/files/js/plugins/angular.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/files/js/materialize.js"></script>

<script type="text/javascript" src="{{ base_url() }}/files/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>


<script type="text/javascript" src="{{ base_url() }}/files/js/plugins/prism/prism.js"></script>
<!--<script type="text/javascript" src="{{ base_url() }}/files/js/plugins/jsgrid/js/jsgrid.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/files/js/plugins/jsgrid/js/jsgrid-script.js"></script>
<script type="text/javascript" src="{{ base_url() }}/files/js/plugins/jsgrid/js/db.js"></script>-->


<script type="text/javascript" src="{{ base_url() }}/files/js/plugins.js"></script>

  
<script type="text/javascript" src="{{ base_url() }}/files/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/files/js/plugins/jquery-validation/additional-methods.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/js/plugins/formatter/jquery.formatter.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/files/js/plugins/navigo/navigo.min.js"></script>

<script type="text/javascript" src="{{ base_url() }}/files/js/globais.js"></script>
<!--
<script type="text/javascript" src="{{ base_url() }}/files/js/plugins/floatThead/jquery.floatThead.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/files/js/plugins/floatThead/jquery.floatThead-slim.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
-->